html.ios 
  overflow-x: hidden
  -webkit-overflow-scrolling: touch

html.ios,
html.ios body 
  height: initial !important


.sidebar-btn
	display: none !important

.wrapper
	margin: 100px 0


footer
	position: relative
	width: 100%
	height: 300px
	background-color: skyblue

// mobile only view
// @media screen and (max-width: 768px)


// mobile and tablet only
@media screen and (max-width: 991px)
	.wrapper
		margin: 100px 0

	.secondary.pointing.menu
		display: none

	.sidebar-btn
		display: block !important



